@mixin box {
    width:570px;
    height:150px;
    background-color:$bg;
    border-radius:10px;
    background-color:$bg;
    border: 1px solid $border-color;
    position: relative;
    border-radius: 11px;
    
        div {
            width:50px;
            height:50px;
            border-radius:50px;
            position:absolute;
            left: 52px;
            top: 42px;
            display:flex;
            justify-content: center;
            align-items: center;
            border: $border;
            padding:0px;
            margin:0px;
            i {
                font-size:25px;
    
               
    
    
            }
           
            

            
        }
        h5{
            color:$title;
            position: absolute;
            left:142px;
            top:35px;
            font-size:16px;
            line-height:24px;
            padding:0px;
            margin:0px;
            font-family: $font;
            font-weight: bold;


        }
        p {
            color:$color;
            position: absolute;
            left:144px;
            top:69px;
            width:$text-width;
            line-height:24px;
            font-size:14px;
            padding:0px;
            margin:0px;
            font-family:$font;
            font-weight: 300;
        }
       
        
        span{
            color:$span-color;
            position: absolute;
            left: 540px;
            top: 19px;
        }
        
    
    }