$title:#2C3E50;
$bg:#fff;

$text:#A1B1BC;
$border-color:none;
$border:6px solid;
$font:'Lato', sans-serif;



$text-width:343px;
$color:#2C3E50;
$span-color:#E3E3E5;

$orange-1:#FFC12D;
$orange-2:#FAB917;
$orange-3:#A37506;


$red-1:#FD7761;
$red-2:#E65E48;
$red-3:#D52D13;



$green-1: #97E411;
$green-2: #7FC201;
$green-3:#578602;


$cyan-1: #6FD9FC;
$cyan-2:#4AB7F2;
$cyan-3:#0883C9;

$purple-1:#A39CDC;
$purple-2:#8883BD;
$purple-3:#5E5993;

