.boxy {
    @include box;
    $bg:#FFC12D;
    background-color:$bg;
    $text:#2C3E50;
    p {color:$text; 
    }
    div {
        background-color: $orange-1;
        border-color:$orange-2;
        i {color:$orange-3;}

    }
    display: inline-block;
    margin-bottom: 30px;
    $span-color:$orange-3;
    span {color: $span-color}


}

.boxy-1 {
    @include box;
    
    $bg:#FEB1A4;
    background-color:$bg;
    div {
        background-color: $red-1;
        border-color:$red-2;
        i {color:$red-3;}
    }
    display: inline-block;
    $span-color:$red-3;
    span {color: $span-color}
    
}

.boxy-2 {
    @include box;
    $bg:#A7EC2F;
    background-color:$bg;
    div {
        background-color:$green-1;
        border-color:$green-2;
        i {color:$green-3;}
    }
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 25px;
    $span-color:$green-3;
    span {color: $span-color}
    




}

.boxy-3 {
    @include box;
    $bg:#85EBFA;
    background-color:$bg;
    div {
        background-color:$cyan-1;
        border-color:$cyan-2;
        i {color:$cyan-3;}
    }
    display: inline-block;
    margin-left: 25px;
    $span-color:$cyan-3;
    span {color: $span-color}
}

.main-box{
    width:1182px;
    height:341px;

        
}


.boxy-4 {
    @include box;
    $bg:#AACDF6;
    background-color:$bg;

    $width:1170px;
    width: $width;

    $text-width:969px;
    
    p {width: $text-width;}

    div {
        background-color:$purple-1;
        border-color:$purple-2;
        i {color:$purple-3;}
        
    }
    
    span {
        left:1140px;
        color:$purple-3;
       

    }
    display: inline-block;
    margin-top:23px;
}

.container{
    width:1181px;
    height:603px;
    margin:auto;
    
}


p{
    
    font-size:30px;
    font-family:$font;
    font-weight:200;
    margin-bottom:4%;
    color:$color;
    margin-top: 1.9%;
}