.book{
    color:brown;
    margin:100px;
    font-size: 100px;
    font-family: 'Condiment', cursive;
}

.janri{
    margin:100px;
    font-size: 40px;
    color:peru;
    font-family: 'Condiment', cursive;

}


p {
    font-size:20px;
    font-family: 'Condiment', cursive;
    color:peru;
    margin-left:100px;
    width:500px;


   

}

img{
    width:500px;
    height:600px;
    margin-left:100px;
    margin-top:30px;
}