.mother-box {
    margin:auto;

    width:1173.35px;
    height:1345.75px;

}

.comment-1 {
    height: 204px;
    width: 1170px;
    border: 1px solid #ECF0F1;
    margin-top: 14px;
}

.box{
    width:70px;
    height:70px;
    background:#A1B1BC;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    
    border-radius:6px;
    border:3px white solid;
    margin-left:34px;
    margin-top: 31px;
    float: left;

}

.name {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 3px;
}
.date {
    font-size:13px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color:#A1B1BC;
    margin-top:0px;
    margin-bottom:0px;



}


.head {
    display:flex;
    justify-content: space-between;
}

.com-24{
    color:#2C3E50;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    text-align:left;
    margin-top:10px;

}

.leave{
    color:#A1B1BC;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    align-self:center;
    margin-top:3px;


}

.replay {
    background-color: #2E3D50;
    border:0;
    width: 60px;
    height:24px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    color:white;
    border-radius:3px;
    font-weight: bold;
    font-size:14px;

   
   
    
  
}
.comment-2 {
    height: 150px;
    width: 1170px;
    margin-top:22px;
    border: 1px solid #ECF0F1;


}
.comment-3 {
    height: 154px;
    width: 1120px;
    margin-top: 25px;
    border: 1px solid #ECF0F1;
    margin-left: 50px;
}
.name-date {
    margin-left: 27px;
    margin-top: 18px;
    width: 154px;
    height: 54px;
    float: left;
}
.forma {
    display: flex;
    justify-content: space-between;
}
.boxy-1{
    margin-top:0px;
}


input {
    width: 370px;
    height: 50px;
    border-radius: 3px;
    line-height: 20px;
    background-color: #F7F8F9;
    border: 1px solid #ECF0F1;
    margin-left:0px;
    color: #A1B1BC;
    

}

.email{
    background-color: white;
}

#subbmit {
    width: 190px;
    height: 50px;
    background-color: #2C3E50;
    color: white;
    font-size: 15px;
    border: 0px;
    font-weight: bold;
    border-radius: 3px;
    margin-top:17px;
}


